---
import {Directus} from "@directus/sdk"
import Whatsapp from "@components/Whatsapp.vue"
import Layout from "@layouts/layout.astro"

const directus = new Directus(import.meta.env.PUBLIC_CMS)

const policy_data = await directus.items('privacy_policy').readByQuery({
	limit:-1
}).catch()

const policy = policy_data.data

---

<Layout title="Privacy Policy" description="Privacy Policy practices for doktarie">
	<section class="mt-20 container mx-auto p-4">
		<div class="grid place-content-center">
			<div class="prose dark:prose-invert my-2" set:html="policy.policy"></div>
		</div>
	</section>
	<Whatsapp client:load />
</Layout>
